<%- include('./partials/method-head') %> 

<main class="main-details-content">

    <section class="section-details section-template">
    <img src="<%= method.template?.url %>" onerror="this.src='assets/logo.svg';" class="image-template-detail-page" alt="foto van <%= method.title %>" />
    </section>

</main>
<%- include('./partials/foot') %>