<%- include('./partials/method-head') %> 

<main class="main-method-content">

<article class="article-details article-steps">
    <% method.steps.forEach(step => { %>
        <%= step.title %>
        <%- step.description.html %>
    <% }) %>  
</article>

</main>
    
<%- include('./partials/foot') %>