:root {
  --header-font: rigid-square;
  --main-font: yrsa;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
}

h1 {
  font-size: 3.157rem;
  font-weight: 800;
}

h2 {
  font-size: 2.369rem;
  font-weight: 800;
}

h3 {
  font-size: 1.777rem;
  font-weight: 800;
}

h4 {
  font-size: 1.333rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Head----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Head----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Head----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: var(--header-font);
}

.header-links,
.header-rechts {
  display: flex;
  align-items: center;
}

.header-links a,
.header-links h1 {
  padding: 1rem 0rem 1rem 3rem;
}

.header-rechts a {
  padding: 1rem 3rem 1rem 0rem;
}

/* Index---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Index---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Index---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.layout {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 0rem;
}

section {
  height: 22rem;
  width: 22rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}

.method-title {
  inline-size: 25rem;
  overflow-wrap: break-word;
  hyphens: auto;
  text-align: center;
  font-family: var(--header-font);
  font-size: 1.777rem;
  font-weight: 800;
}

p {
  max-width: 20rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.link-detail-page {
  display: flex;
  align-items: end;
  justify-content: center;
}

.image-template {
  max-width: 20rem;
  max-height: 20rem;
}

.categories-hidden {
  z-index: 999;
  display: none;
}

.categories-shown {
  z-index: 999;
  display: block;
  animation-name: span-slide;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  background: #feb51e;
  pointer-events: none;
  position: absolute;
}

@keyframes span-slide {
  0% {
    opacity: 0%;
  }
  100% {
    margin-top: -5rem;
    opacity: 100%;
  }
}

/* Detail-page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Detail-page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Detail-page---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.nav-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
}

.nav-right {
  margin-right: 3rem;
}

.nav-button {
  margin-left: 3rem;
}

.image-template-detail-page {
  max-width: 20rem;
  max-height: 20rem;
}

.section-details {
  /* border: none; */
  width: 100%;
}

.section-steps {
  display: flex;
  flex-direction: row;
}

.section-examples {
  display: flex;
  flex-direction: row;
}

.image-example {
  max-width: 20rem;
  max-height: 20rem;
}
